<h2> Landing page </h2>

<% if is_admin? %>
  <%= link_to "Orders", orders_path %>
  <%= link_to "Users", users_path %>
<% else %>
  <%= link_to "Orders", orders_path(current_user) %>
  <%= link_to "Users", users_path(current_user) %>
<% end %>
