<h1>Editing user</h1>

<%= render "form", user: @user %>

<br>

<div><%= link_to "Show this user", @user %></div>

<% if (@current_user = is_admin?) %>
  <div><%= link_to "Back to users", users_path %></div>
<% end %>

