<p style="color: green"><%= notice %></p>

<h1>Orders</h1>

<table id="orders">
  <% @orders.each do |order| %>
    <%= render order %>
    <td>
      <%= link_to "Show this order", order %>
    </td>
    </tr>
  <% end %>
</table>

<%= link_to "New order", new_order_path %>
